@media(max-width:992px) {}

//Tab Screen
@media(max-width:768px) {
    .navbar {
        text-align: center;

        .navbar-brand {
            display: contents;

            img {
                width: 23%;
            }
        }

        .nav-item {
            img {
                display: none;
            }
        }
    }

    .hero-section {
        padding-top: 10%;

        img {
            margin-top: 10%;
        }
    }
}

//Smart Phones
@media(max-width:414px) {

    //topbar
    .topbar {
        p {
            font-size: 9px;
        }
    }

    /*Navbar*/
    .navbar {
        .navbar-brand {
            img {
                width: 30%;
            }
        }
    }

    //hero
    .hero-section {
        text-align: center;
        .text-end{
        text-align: center !important;
        }
    }
}