//fonts imported
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: "Arial";
    src: url('./ARLRDBD.ttf');
}


//Colors
$primary:#00a9ff;
$secondary:#89cff3;
$thirdColor:#a0e9ff;
$nav:#cdf5fd;
$text:#a1a1a1;
$heading:#1f1f1f;
$headingFont:"Arial";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Fonts

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
body{
    font-family: "Roboto", sans-serif ;
}